@font-face {
    font-family: 'Varela';
    src: url('../fonts/Varela-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sue Ellen Francisco';
    src: url('../fonts/SueEllenFrancisco-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    min-height: 200px; /* Set your desired minimum height here */
    font-family: "Varela", sans-serif;
    user-select: none;
    overscroll-behavior: none;
}

body {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  padding: 0px;
  margin: 0px;
  overflow-y: scroll;
  background-color: #FDDDE6;
  overflow-x: hidden;
  box-sizing: border-box;

}

#root {
  display: block;
  width: 100%;
  height: 650px;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
}

#section_usage p{
  margin: 0px;
  font-size: 12px
}

#section_usage h2{
  margin: 0px;
  font-size: 40px
}

#section_usage h3{
  margin: 0px;
  font-size: 20px;
  border-top: 1px solid white;
  width: 90%;
  border-bottom: 1px solid white;
  height: 28px;
  background: linear-gradient(to right, transparent, grey, transparent);
  color: white;
}

#section_intro p {
  margin: 0px;
  font-size: 15px;
  margin-top: 5px;
}

#section_usage p{
  width: 90%;
  margin-bottom: 10px;
}

pre{
  margin: 0px;
  display: flex;
  justify-content: center;
  margin-top: 2px;
  flex-direction: column;
  width: 90%;
}

code{
  background-color: black;
  border-radius: 5px;
  font-size: 12px;
  margin: 3px;
  border: 1px solid white;
  color: white;
  text-align: left;
  padding: 10px;
  width: 100%;
  white-space: pre-line;
  padding-top: 0px;
  user-select: text;
  box-sizing: border-box;
}

.anchor{
  width:40%;
  /*! text-align: center; */
  /*! display: inline; */
  box-sizing: border-box;
  margin-inline: 2px;
}

#title_div {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 100px;
  filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.2));
}

#title {
  font-family: "Sue Ellen Francisco", cursive !important;
  font-style: normal;
  font-size: 100px;
  margin: 0;
  height: 140px;
  white-space: nowrap;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  filter: drop-shadow(1px 1px 1px black);
  cursor: pointer;
  color: pink;
}

#subtitle {
  font-family: "Sue Ellen Francisco", cursive !important;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 40px;
  white-space: nowrap;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  filter: drop-shadow(1px 1px 1px black);
  color: white;
}

#descr_div {
  position: absolute;
  font-family: "Sue Ellen Francisco", cursive !important;
  top: 600px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 50px;
  width: 100%;
  font-size: 15px;
  color: rgb(200,130,140);
}

#stats_div {
  position: relative;
  top: 200px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  width: 100%;
  height: 350px;
  min-width: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgba(250,250,250,0.6);
  justify-content: center;
  border-bottom: 10px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 0px;
}

#stats_head {
  text-align: center;
  width: 100%;
  height: 68px;
  box-sizing: border-box;
  display: block;
  background-color: rgba(200,0,0,0.2);
  justify-content: center;
}

#stats_footer {
  text-align: center;
  width: 100%;
  height: 54px;
  box-sizing: border-box;
  display: block;
  background-color: rgba(200,0,0,0.2);
  margin: 0px;
}

#tabs {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  display: block;
}

.tab {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#tab_intro{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  cursor: pointer;
  z-index: 100;
  color: rgba(200, 0, 0, 0.3);
  flex-direction: column;
  align-items: center;
  background-color: #FDDDE6;
}

.pulse{ 
   width: 400px;
   font-size: 30px;
   font-weight: bolder;
   border: 1px solid rgba(200,0,0,0.2);
   border-radius: 10px;
   background-color: white;
   box-shadow: 2px 2px 2px;
   text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
   color: pink;
  
}

.pulse:hover{
     animation: pulsate 0.5s linear infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0.75;
    transform: scale(1.0) skewX(0deg);
  }
  35% {
    opacity: 0.8;
    transform: scale(0.998) skewX(1deg);
  }
  50% {
    background-color: rgba(200,0,0,0.02);
    filter: saturate(90%) hue-rotate(360deg);
    opacity: 0.8;
    transform: scale(0.99) skewX(0deg);
    letter-spacing: 1px
  }
  65% {
    opacity: 0.8;
    transform: scale(0.998) skewX(-1deg);
  }
  100% {
    opacity: 0.75;
    transform: scale(1.0) skewX(0deg);
  }
}

.fade_hide{
   animation: fade_hide 0.5s ease-out forwards;
}

@keyframes fade_hide {
  0% {
     opacity: 1.0;
  }
  99% {
     opacity: 0.0;
  }
  100% {
      opacity: 0.0;
      visibility: hidden;
  }
}


.icon-link{ 
   cursor: pointer; 
   filter: invert(30%) sepia(50%); 
   margin: 0 5px;
   box-sizing:border-box;
   height: 26px
}
.icon-link:hover{ 
  filter: invert(70%) sepia(60%) hue-rotate(300deg) drop-shadow(0px 0px 1px black); 
}
.active-icon{
   border-bottom: 2px solid black;
}

#fft-table {
   width: 100%;
   font-family: "Varela", sans-serif;
   font-size: 12px;
   padding:10px;
   border: 1px solid aliceblue;
   padding-top: 4px;
}

#fft-table td {
  border-radius: 4px;
  border: 1px solid rgba(10,10,10,0.1);
  width: 10%;
  background-color: white;
}

.dev{
  cursor: pointer;
}

#tr_header > td {
   background-color: transparent;
}

#fft-table th {
  height: 10px;
  color: rgba(100, 0, 0, 0.4);
}

.chart_panel {
   position: absolute;
   display: block;
   width: 100%;
   height: 100%;
}

#loading-circle {
    position: absolute;
    border: 4px solid #333333;
    border-top: 4px solid #eeeeee; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite; /* Spin animation */
    left: 50%;
    bottom: 5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.fade-up {
  animation: fadeUp 0.5s ease-out forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.fade-in {
  animation: fadeIn 2.0s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


#loading_info {
    position: absolute;
    left: 50%;
    bottom: 4px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}

#reload {
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
}

#loading {
    position: absolute;
    left: 50%;
    bottom: 12px;
    transform: translateX(-50%);
}

.loading-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 4px;
  opacity: 0;
  animation: pulse 1s infinite alternate;
}

.dot:nth-child(1) {
  animation-delay: 0.2s;
}

.dot:nth-child(2) {
  animation-delay: 0.4s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes pulse {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1.2);
    opacity: 1;
  }
}

button {
   background-color: white;
   color: black;
   border: 1px solid black;
   border-radius: 10px;
   z-index: 10;
   cursor: pointer;
   mix-blend-mode: overlay;
}

button:hover {
    background-color: black;
    color: white;
}


select {
   background-color: white;
   color: black;
   border: 1px solid black;
   border-radius: 10px;
}

input[type="checkbox"] {
   cursor: pointer;
   filter: hue-rotate(125deg) saturate(70%);
}

#chart_l{
  position: absolute;
  left: 50%;
  top: 6px;
  transform: translateX(-60px);
}

#chart_r{
  position: absolute;
  left: 50%;
  top: 6px;
  transform: translateX(60px);
}

#selectionsDiv{
   width: 200px;
   position: absolute;
   left: 20px;
   display: block;
}

#selectionsDiv fieldset{
   border-radius: 10px;
   border: solid 1px rgba(200,0,0,0.2);
   padding: 0px;
}

#selectionsDiv legend{
   font-size: 10px;
   color: white;
}

#selectionsDiv div{
  display: inline-block;
  width: 30px;
}

#selectionsDiv input{
  display: block;
}

#selectionsDiv label{
  display: block;
  font-size: 10px;
  margin-top: -4px;
}


#paramsDiv{
   width: 200px;
   position: absolute;
   right: 20px;
   bottom: 5px;
   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: auto auto;
}

#paramsDiv label{
  font-size: 10px;
}


#oinkImage {
   position: absolute;
   width: 30px;
   height: 30px;
   top: 90%;
   left: 10%;
   transform: translate(-20%, 50%);

   cursor: pointer;
}

#oinkImage:hover{
   width: 32px!important;
   height: 32px!important;
}

.bestPerf {
  animation: fadeGreen 2.5s ease-out forwards;
}

@keyframes fadeGreen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    background-color: rgba(50, 230, 50, 0.5);
  }
}


#icon-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 30px;
}

#tab_micro{
  background-color: rgba(0,0,0,0.8);
  flex-direction: column;
}

#output-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#outputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid rgba(200,200,200,0.5);
    padding: 10px;
    height: fit-content;
    background-color: rgba(100,100,100,0.8);
    width: 60%;
}

.output-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

label {
    color: white;
    margin-right: 5px;
    min-width: 90px;
    text-align: left;
}

.float-input {
    width: 100%;
    border-radius: 10px;
    font-family: monospace;
    text-emphasis: bold;
}

.slider-container {
    width: 60%;
    height: 25px;
    justify-content: center;
    display: flex;
}

#out_slider {
    width: 100%;
}

.slider-value {
    display: inline;
    margin: 2px;
    color: rgb(50,100,200);
}


section{
    border-bottom: solid 1px white;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    transition: background-color 0.5s ease; /* Smooth background color transition */
    position: relative;
  
    box-sizing: border-box;
    height: 100%;
    min-height: 800px;
}

#section_main{
    max-height: 700px;
}

#section_usage{
    padding-top: 20px;
    text-align: center;

    font-style: normal;
    color: #FDDDE6;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    min-height: 800px;
}

.comment {
  color: grey;
}

#examples {
   width: 100%;
   text-align: center;
   height: 50px;
}

#examples a{
  display: inline-block;
  margin: 6px;
  margin-inline: 0px;
  padding:3px;
  border: 1px solid white;
  border-radius: 5px; 
  color: white;
  font-size: 14px;
  background-color: grey;
  text-decoration: unset;
  
}

#examples a:hover{
  filter:saturate(150%);
  box-shadow: 0px 0px 4px white;
}

#anchors{
  width: 300px;
  text-align: center;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
}

.anchor {
  text-decoration: none;
  color: rgba(200,50,50,0.5);
  text-emphasis: none;
  border: solid 1px;
  border-radius: 5px;
  padding: 4px;
}

#section_intro{
  padding: 10px;
  box-sizing: border-box;
  color: white;
  max-width: 320px;
  min-height: 800px;
  height: 100%;
}

#section_intro h1{
  color: pink;
  font-size: 22px;
}

#section_intro h2{  
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  color: pink;
  font-size: 18px;
}

#section_intro h3{
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  font-size: 15px;
}

#section_intro p{
  margin: 0px;
  padding: 0px;
  font-size:13px;
}

#section_intro li{
  font-size:13px;
}

.split_section{
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  position: relative;
  min-height: 800px;
}

#h_1, #h_2, #h_3{
  text-decoration: underline;
  cursor: pointer;
}

#d_2, #d_3{
  display: none;
}

#d_1, #d_2, #d_3{
  animation: blend_in 0.5s ease forwards;
}

@keyframes blend_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive behavior for smaller screens */
@media screen and (max-width: 850px) {
    .split_section {
        flex-direction: column;
        height: auto;
    }
  #section_intro, #section_usage{
    max-width: 100%;
  }
}

#footer{
  height: 40px;
  width: 100%;
  bottom: 0;
  background-color: pink;
  position: fixed;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  border-top: 1px solid white;
}

.current_anchor{
   transition: filter 3s;
   transition: background-color 1s;
   border-color: white;
   background-color: white;
   filter: sepia(20%);
}

.current_section{
   
}

body > section, .split_section {
}



.giphy-embed{
  pointer-events: none;
}

.giphy-round {
    visibility: hidden;

    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 50px;
    width: 150px; /* Adjust the width and height as needed */
    height: 150px;
    overflow: hidden;
    border-radius: 50%; /* Ensure the container is also round */
    display: flex;
    align-items: center;
    background-color: white;
    filter: brightness(150%) saturate(170%);
}

.giphy-round iframe {
    transform: translateX(-80px);
    width: 400px; /* Ensure the iframe fills the container */
    height: 400px;
    border: none; /* Remove default border */
}

#section_about > h1 {
  text-align: center;
  font-size: 48px;
  margin: 0px;
  font-family: "Sue Ellen Francisco", cursive !important;
}

#about {
    margin: 0px;
    width: 75%;
    height: 140px;
    border-radius: 6px;
    margin-inline: auto;
    background-color: rgba(10,10,10,0.9);
    padding: 20px;
}


#imprint {
    font-size: 15px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgba(200,30,30,0.5);
  
}

