@font-face {
    font-family: 'Varela';
    src: url('../fonts/Varela-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sue Ellen Francisco';
    src: url('../fonts/SueEllenFrancisco-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    min-height: 200px; /* Set your desired minimum height here */
    font-family: "Varela", sans-serif;
    user-select: none;
}

body {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#root {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #FDDDE6;
  padding: 20px;
  position: absolute;
  box-sizing: border-box;
  position: relative;
}

#title_div {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 100px;
}

#title {
  font-family: "Sue Ellen Francisco", cursive !important;
  font-style: normal;
  font-size: 100px;
  margin: 0;
  height: 140px;
  white-space: nowrap;
  filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.2));
}

#subtitle {
  font-family: "Sue Ellen Francisco", cursive !important;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 40px;
  white-space: nowrap;
  filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.2));
}

#descr_div {
  position: absolute;
  font-family: "Sue Ellen Francisco", cursive !important;
  top: 600px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 50px;
  width: 100%;
  font-size: 15px;
}

#stats_div {
  position: relative;
  top: 200px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  width: 100%;
  height: 350px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgba(250,250,250,0.6);
  justify-content: center;
  border-bottom: 10px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 0px;
}

#stats_head {
  text-align: center;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  display: block;
  background-color: rgba(200,0,0,0.2);
  justify-content: center;
}

#stats_footer {
  text-align: center;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  display: block;
  background-color: rgba(200,0,0,0.2);
  margin: 0px;
}

.tab {
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  display: flex;
  justify-content: center;
  flex: 1;
}

.icon-link{ 
   cursor: pointer; 
   filter: invert(30%) sepia(50%); 
   margin: 0 5px;
   box-sizing:border-box;
   height: 26px
}
.icon-link:hover{ 
  filter: invert(70%) sepia(60%) hue-rotate(300deg) drop-shadow(0px 0px 1px black); 
}
.active-icon{
   border-bottom: 2px solid black;
}

#fft-table {
   width: 100%;
   font-family: "Varela", sans-serif;
   font-size: 12px;
   padding:10px;
   border: 1px solid aliceblue;
   padding-top: 4px;
}

#fft-table td {
  border-radius: 4px;
  border: 1px solid rgba(10,10,10,0.1);
  width: 10%;
  background-color: white;
}

#tr_header > td {
   background-color: transparent;
}

#fft-table th {
  height: 10px;
  color: rgba(10, 10, 10, 0.5);
}


#performanceChart{
   width: 100%;
   font-family: "Varela", sans-serif;
   font-size: 12px;
   padding:10px;
   padding-top: 4px;
}


#loading-circle {
    position: absolute;
    border: 4px solid #333333;
    border-top: 4px solid #eeeeee; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite; /* Spin animation */
    left: 50%;
    bottom: 5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.fade-up {
  animation: fadeUp 0.5s ease-out forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#loading_info {
    position: absolute;
    left: 50%;
    bottom: 2px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}

#reload {
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
}

#loading {
    position: absolute;
    left: 50%;
    bottom: 8px;
    transform: translateX(-50%);
}

.loading-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 4px;
  opacity: 0;
  animation: pulse 1s infinite alternate;
}

.dot:nth-child(1) {
  animation-delay: 0.2s;
}

.dot:nth-child(2) {
  animation-delay: 0.4s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes pulse {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1.2);
    opacity: 1;
  }
}

button {
   background-color: white;
   color: black;
   border: 1px solid black;
   border-radius: 10px;
}

button:hover {
    background-color: black;
    color: white;
}


select {
   background-color: white;
   color: black;
   border: 1px solid black;
   border-radius: 10px;
}

#numOpsSelect{
   width: 100px;
   position: absolute;
   right: 20px;
   bottom: 5px;
}

#runsSelect{
   width: 100px;
   position: absolute;
   right: 130px;
   bottom: 5px;
}


#oinkImage {
   position: absolute;
   width: 30px;
   height: 30px;
   top: 90%;
   left: 10%;
   transform: translate(-20%, 50%);
}


.bestPerf {
  animation: fadeGreen 2.5s ease-out forwards;
}

@keyframes fadeGreen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    background-color: rgba(50, 230, 50, 0.5);
  }
}


#icon-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 30px;
}



