body {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  padding: 0px;
  margin: 0px;
}

#root {
display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(220,220,220,1);
  padding: 20px;
  position: absolute;
  box-sizing: border-box;
}

grid-window {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(150,150,150,1);
  border-radius: 5px;
}

beat-bar {
  font-size: 0;
  height: 100%;
}

beat-col {
  height: 100%;
  width: 20px;
  display: inline-block;
  border-left: 1px solid rgba(90,90,90,0.5);
  border-right: 1px solid rgba(90,90,90,0.5);
}

.col_a { background-color: rgba(0,0,0,0); }
.col_b { background-color: rgba(0,0,0,0.1); }