body {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#root {
  --main-width: 80%;

  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(220,220,220,1);
  padding: 20px;
  position: absolute;
  box-sizing: border-box;
}

side-window {
  display: inline-block;
  width: calc(100% - var(--main-width) - 10px);
  height: 100%;
  background-color: rgba(120,120,120,1);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: -8px;
}

grid-window {
  display: inline-block;
  width: var(--main-width);
  height: 100%;
  background-color: rgba(150,150,150,1);
  border-radius: 5px;
}

beat-bar-header {
  position: absolute;
  font-size: 0;
  height: 20px;
  width: calc(var(--main-width) - 40px);
  margin-top: -20px;
}

beat-bar-container {
  margin-top: 20px;
  position: absolute;
  font-size: 0;
  height: calc(100% - 40px - 30px);
  width: calc(var(--main-width) - 40px);
  /** z-index: 100; **/
}

beat-bar::-webkit-scrollbar {
  display: none;
}

beat-bar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  height: calc(100% - 10px);
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  padding-top: 10px;
  padding-bottom: 20px;
}

beat-col {
  height: 100%;
  width: 20px;
  display: inline-block;
  border-left: 1px solid rgba(90,90,90,0.5);
  border-right: 1px solid rgba(90,90,90,0.5);
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 20px;
  position: relative;
  box-sizing: border-box;
}

beat-col > span {
  margin-top: -5px;
  font-size: 8px;
  font-family: system-ui;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
  transform: translateY(-50%);
  margin-left: -2px;
  padding-left: 4px;

  position: absolute;
  background: linear-gradient(to top, #0003 50%, #11111100 50%) left no-repeat;
  background-size: 2px 100%;
}

.fullbar > span { 
  background: linear-gradient(to top, #0006 50%, #0006 50%) left no-repeat;
  background-size: 2px 100%;
 }
.col_a { background-color: rgba(0,0,0,0); }
.col_b { background-color: rgba(0,0,0,0.1); }

track-window::-webkit-scrollbar {
  display: none;
}

track-window {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  margin-top: 30px;
  position: absolute;
  font-size: 0;
  height: calc(100% - 80px);
  width: calc(var(--main-width) - 40px);
  overflow-y: scroll;
  overflow-x: scroll;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  /** z-index: 10; **/
}

track-row-container {
  display: block;
  height: 100%;
  box-sizing: border-box;
}

track-row {
  display: block;
  width: 100%;
  height: 20px;
  border-top: 1px solid rgba(90,90,90,0.8);
  border-bottom: 1px solid rgba(90,90,90,0.8);
  box-sizing: border-box;
  cursor: pointer;
}

track-row.selected {
   border: 1px solid white;
}

track-row-empty {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100px;
  background-color: rgba(160,160,160,1);
  align-items: center;
  justify-content: center;
}

track-row-empty > span {
  font-size: 10px;
  height: 20px;
  padding: 20px;
  border: 2px dashed rgba(0,0,0,0.2);
}

track-title-container::-webkit-scrollbar {
  display: none;
}

track-title-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  padding-top: 30px;
  padding-bottom: 10px;
  box-sizing: border-box;
  height: 100%;
  display: block;
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

track-title {
  display: block;
  width: 100%;
  height: 20px;
  border-top: 1px solid rgba(90,90,90,0.8);
  border-bottom: 1px solid rgba(90,90,90,0.8);
  box-sizing: border-box;
  background-color: rgba(200,100,100,1);
  cursor: pointer;
}

track-title:hover {
  filter: drop-shadow(1px 1px 2px black);
}

track-title.selected {
  border: 1px solid white;
}

track-title.insertMarkT{
  border-top: 3px solid rgba(250,250,250,0.8);
}

track-title.insertMarkB{
  border-bottom: 3px solid rgba(250,250,250,0.8);
}

track-title > input {
  background-color: transparent;
  border: none;
  /*border-bottom: 1px solid rgba(10,10,10,0.5);*/
  font-size: 12px;
  height: 12px;
  margin-left: 5px;
  font-family: "Varela", sans-serif;
  cursor: pointer;
}

track-title > input:focus {
    outline:none;
}

track-pattern {
  position: absolute;
  display: inline-block;
  width: 160px;
  height: calc(20px - 2px);
  border: 1px solid rgba(90,90,90,0.8);
  box-sizing: border-box;
  background-color: rgba(200,200,200,1);
  cursor: move;
}

track-pattern-bl {
  display: inline-block;
  width: 2px;
  height: 100%;
  background-color: rgba(20,20,20,0.7);
  cursor: col-resize;
  float: left;
}

track-pattern-br {
  display: inline-block;
  width: 2px;
  height: 100%;
  background-color: rgba(20,20,20,0.7);
  cursor: col-resize;
  float: right;
}

.unselectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}



.context-menu {
    display: none;
    position: absolute;
    background-color: black;
    border: 1px solid #ccc;
    padding: 4px;
    z-index: 1000;
}
.context-menu-item {
    padding: 5px 10px;
    cursor: pointer;
}
.context-menu-item:hover {
    background-color: #f0f0f0;
}

.color-palette {
    display: grid;
    grid-template-columns: repeat(14, 12px); /* Adjust as needed */
    gap: 2px; /* Adjust the gap between color items */
}

.color-item {
    width: 12px; /* Adjust the width of each color item */
    height: 12px; /* Adjust the height of each color item */
    border: 1px solid #ccc; /* Add border for clarity */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.color-item:hover {
    border-color: #000; /* Change border color on hover */
}

